*.env
*hot-update.js*
.cache
.DS_Store
.idea/
.vscode/*
!.vscode/settings.json
config.json
coverage/
dist/
lerna-debug.log
node_modules/
npm-debug.log*

# Fake packages used as test fixtures
!src/test/fixtures/*/node_modules/
